* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 95%);
    background: linear-gradient(-45deg, #d1b6ad, #99b2e0, #d6d29d, #aadfd2);
}

#cash-register-container {
    position: fixed;
    width: 1040px;
    height: 1200px;
    display: grid;
    justify-items: center;
    grid-template-rows: 450px 85px 80px 220px 270px;
    grid-template-columns: 1fr;
    filter: drop-shadow(0 0 10px black);
}

#outer-screen {
    height: 450px;
    width: 1000px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px -10px #ecffff;
    background-color: #d0e0e0;
}

#black-screen {
    background-color: #343838;
    width: 950px;
    height: 400px;
    border-radius: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#gray-screen {
    background-color: #4b5252;
    width: 920px;
    height: 370px;
    border-radius: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#inner-screen {
    background-color: #697373;
    width: 920px;
    height: 335px;
    border-bottom-left-radius: 750px 20px;
    border-bottom-right-radius: 750px 20px;
    border-top-left-radius: 750px 20px;
    border-top-right-radius: 750px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem 1rem;
    justify-items: center;
    align-items: start;
}

#total-div {
    grid-area: 1 / 1 / 2 / 2;
    width: fit-content;
    font-size: 2.8rem;
    margin-top: 1rem;
}

#input-div {
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    display: grid;
}

#change-due {
    grid-area: 1 / 2 / 4 / 3;
    display: grid;
}

#cash-drawer {
    width: 90%;
    grid-area: 1 / 3 / 4 / 4;
    display: grid;
}

#cash {
    justify-self: center;
    width: 80%;
    height: 80%;
    font-size: 2.04rem;
    text-align: center;
    padding: 10px;
    color: hsl(0, 0%, 30%);
}

#purchase-btn {
    align-self: flex-start;
    width: 80%;
    height: 80%;
    font-size: 2rem;
    font-weight: 600;
    color: hsl(0, 0%, 95%);
    background-color: hsl(120, 74%, 37%);
    border-radius: 10px;
    border: 3px outset rgb(24, 163, 24);
}

#purchase-btn:hover {
    color: #fff;
    background-color: hsl(120, 74%, 40%);
}

#purchase-btn:active {
    background-color: hsl(120, 74%, 30%);
    border: 3px inset hsl(120, 74%, 37%);
}

.div-title {
    font-weight: bold;
    justify-self: center;
    width: 240px;
    font-size: 1.7rem;
    height: 3.5rem;
    margin: 1.2rem 0 0 0;
    text-align: start;
}

.money {
    width: 230px;
    text-indent: 15px;
    text-wrap: nowrap;
    line-height: 1.5rem;
    justify-self: center;
    word-spacing: 0.5rem;
    font-size: 1.2rem;
}

.error {
    height: 100px;
    margin-top: 1rem;
    margin-left: 1rem;
    justify-self: center;
    align-self: center;
    grid-area: 1 / 1 / -1 / -1;
    font-size: 1.7rem;
    width: fit-content;
    line-height: 2.3rem;
}

#connecting-stem {
    position: fixed;
    height: 65px;
    width: 140px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: flex-start;
    z-index: 1;
    background-color: #929e9e;
}

#upper-box-top {
    box-shadow: 10px 10px;
    align-self: flex-end;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: gray;
    height: 40px;
    width: 700px;
    background-color: #d0e0e0;
    clip-path: polygon(45px 0, 655px 0, 700px 40px, 0 40px);
    display: grid;
    justify-content: center;
    align-items: center;
}

#screen-shadow {
    width: 400px;
    height: 20px;
    background-color: #656e6e;
    border-radius: 50%;
}

#upper-box-bot {
    height: 80px;
    width: 700px;
    background-color: gray;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-color: #a3b0b0;
}

#button-container {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    height: 220px;
    width: 900px;
    clip-path: polygon(100px 0, 800px 0, 900px 220px, 0 220px);
    display: grid;
    padding: 0 150px;
    padding-top: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #d0e0e0;
}

.button {
    display: grid;
    justify-self: center;
    align-items: flex-start;
    justify-items: center;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    background-color: #404545;
    border: 1px solid black;
}
.far-button {
    scale: 0.8;
}

.middle-button {
    scale: 0.9;
}

.inner-button {
    width: 100px;
    height: 37px;
    background-color: #6a7070;
    border-radius: 50%;
    border: 1px solid black;
}

#compartment-container {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    height: 270px;
    width: 940px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #a3b0b0;
    border-bottom-left-radius: 20px 100px;
    border-bottom-right-radius: 20px 100px;
    border-top-left-radius: 20px 100px;
    border-top-right-radius: 20px 100px;
}

#compartment {
    width: 850px;
    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 20px solid #4b5252;
    background-color: #b9c7c7;
    border-bottom-left-radius: 60px 100px;
    border-bottom-right-radius: 60px 100px;
    border-top-left-radius: 60px 100px;
    border-top-right-radius: 60px 100px;
}

#knob {
    width: 80px;
    height: 80px;
    border: 10px solid #656e6e;
    border-radius: 50%;
    background-color: #8a9696;
}

@media only screen and (max-width: 1200px) {
    #cash-register-container {
        scale: 0.7;
    }
}

@media only screen and (max-width: 800px) {
    #cash-register-container {
        scale: 0.5;
    }
}

@media only screen and (max-width: 600px) {
    #cash-register-container {
        scale: 0.4;
    }
}
